@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link href="~/css/about.css" rel="stylesheet" />

<h2 style="text-align:center">Our Team</h2>
<div class="parent-container" style="display: flex; justify-content: center;">
    <div class="card">
        <img src="~/cover3.jpg" alt="Hai" style="max-width: 100%; max-height: 300px" />
        <div class="container">
            <h2>Trần Long Hải</h2>
            <p class="title">HE140500</p>
            <p>If you have questions, please HESITATE to ask!</p>
            <p><button class="button" onclick="redirectToYouTube()">Contact</button></p>
        </div>
    </div>
</div>
<script>
    function redirectToYouTube() {
        window.location.href = 'https://www.youtube.com/watch?v=dQw4w9WgXcQ';
    }
</script>
