@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Password Manager</h1>
    <a asp-controller="User" asp-action="Index">Proceed to Password Manager</a>
</div>
