@model PasswordLibrary.DataAccess.Password

@{
    ViewData["Title"] = "Edit Password";
}

<div>
    <a asp-controller="Password" asp-action="Index" asp-route-inx=1 asp-route-id="@ViewBag.user.Id" style="text-decoration-line:none">
        <i class="fa-solid fa-arrow-left fa-2x"></i>
    </a>
    <h1 style="color:sienna; text-align:center">Edit Password</h1>
</div>

<h4 style="font-weight:lighter; color:blue">Enter Password information</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group" hidden="hidden">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" value="@ViewBag.user.Id" />
            </div>
            <div class="form-group">
                <label asp-for="Website" class="control-label"></label>
                <input asp-for="Website" class="form-control" />
                <span asp-validation-for="Website" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Password</label>
                <input asp-for="SavedPassword" class="form-control" />
                <span asp-validation-for="SavedPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <select asp-for="Category" class="form-control">
                    <option>Work Password</option>
                    <option>Personal Password</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>  
</div>
<hr />
<div>
    <p style="color:red">@ViewBag.mess</p>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
